{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{ user.username }}</h1>
</div>

<div class="container">
   {% for theme in themes %}
        <li>
            <h4>{{ theme.title }}</h4>
            {% if theme.isPublic %}
            <p>Тема публичная.</p>
            {% else %}
            <p>Тема приватная. Ключ: {{ theme.key }}</p>
            {% endif %}
            <form method="post" action="{{ url_for('delete_theme', theme_id=theme.id) }}">
                <button type="submit" style="color: red" class="btn-link">Удалить</button>
            </form>
            <a href="{{ url_for('theme_view', theme_id=theme.id) }}">перейти</a>
        </li>
    {% endfor %}
</div>

{% endblock %}
