{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Тренировка памяти</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Карточки для проверки своих знаний!</h2>
        <p>
           Квизлет нервно курит в сторонке от нашего сайта.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ищите карточки на любые темы!</h2>
        <p>Поделитесь с товарищем секретным ключом для темы, если хотите скрыть ее от других пользователей.</p>
        <p><a class="btn btn-default" href="{{ url_for("themes.search") }}">перейти &raquo;</a></p>
    </div>
</div>

{% endblock %}
