{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="text-center">
    <form method="post" class="form-signin">
        {% csrf_token %}
        {{ form.as_p }}
            <div class="col-md-offset-2 col-md-10">
       
            <button class="btn btn-primary" type="submit">Log in</button>
    </div>
    </form>
    <a href="{% url 'register' %}" class="link-primary">Not registered? Let's register</a>
</div>



{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
