{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="jumbotron">
    <h1>{{ info.theme.title }}</h1>
</div>

<div class="container">
    <p>Количество карточек: {{ question_amount }}</p>
    <form method="get" action="{{ url_for('theme_form_view_get', theme_id=info.theme.id, title=info.theme.title) }}">
        <label>Режим</label>
        <input type="radio" name="mode" value="simple" id="simple">
        <input type="radio" name="mode" value="shuffle" id="shuffle">
    <input type="submit" placeholder="Отобразить тему">
    </form>

</div>

{% endblock %}
