{% extends "layout_users.html" %}

{% block content %}

<div id="formWrapper">
<div id="form">
<div class="logo">

</div>
    <h3 align="center">Log in</h3>
    <form method="post">
    <div class="form-item">
      <input type="email" name="email" placeholder="Email" id="email" class="form-style" autocomplete="off"/>
    </div>
    <div class="form-item">
      <input type="password" placeholder="Password" name="password" id="password" class="form-style" />
    </div>
    <div class="form-item">
        <p class="pull-left"><a href="{{ url_for("users.register") }}"><small>Register</small></a></p>
        <input type="submit" class="login pull-right" value="Log In" >
        <div class="clear-fix"></div>
    </div>
    </form>
</div>
</div>

{% endblock %}
