{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">

            <form method="post" class="form-signin">

                <input type="text" class="form-control" placeholder="Login" name="username">
            {% if get_flashed_messages(True, ['login']) %}
                <p>{{ get_flashed_messages(True, ['login'])[0][1] }}</p>
            {% endif %}
                <input type="text" class="form-control" placeholder="Email" name="email">
             {% if get_flashed_messages(True, ['email']) %}
                                <p>{{ get_flashed_messages(True, ['email'])[0][1]  }}</p>
            {% endif %}
                <input type="text" class="form-control" placeholder="Password" name="password">
                {% if get_flashed_messages(True, ['password']) %}
                <p>{{ get_flashed_messages(True, ['password'])[0][1]  }}</p>
                {% endif %}
                <input type="text" class="form-control" placeholder="Confirm password" name="password_confirm">
                {% if get_flashed_messages(True, ['password_confirm']) %}
                <p>{{ get_flashed_messages(True, ['password_confirm'])[0][1]  }}</p>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <button class="btn btn-primary" type="submit">Register</button>

                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-default" />

                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}


{% endblock %}
