{% extends "layout_users.html" %}

{% block content %}

<div id="formWrapper">
<div id="form">
<div class="logo">
</div>

    <h3 align="center">Registration</h3>
    <form method="post" >
        <div class="form-item">
            <input type="email" minlength="5" name="email" placeholder="Email" id="email" class="form-style" autocomplete="off"/>
        </div>

        <div class="form-item">
            <input type="text" minlength="5" placeholder="Username" name="username" id="username" class="form-style" />
        </div>

        <div class="form-item">
            <input minlength="5" type="password" placeholder="Password" name="password" id="password" class="form-style" />
        </div>

        <div class="form-item">
            <input type="password" minlength="5" placeholder="Confirm password" name="confirm-password" id="confirm-password" class="form-style" />
        </div>


        <div class="form-item">
            <p class="pull-left"><a href="{{ url_for("users.login") }}"><small>Log in</small></a></p>
            <input type="submit" onclick="return validateForm()" class="login pull-right" value="Register" >
            <div class="clear-fix"></div>
        </div>
    </form>


    </div>

</div>


{% endblock %}


{% block scripts %}
<link rel="script" href="{{ url_for('users.static', filename='js/register.js') }}">
{% endblock %}

