{% extends "themes_layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Поиск</h1>
</div>
<script>
function switchButton(event, divId){
    let columnSearch = document.getElementById("col-search");
    columnSearch.style.display = "none";

    let columnKey = document.getElementById("col-key");
    columnKey.style.display = "none";

    let targetColumn = document.getElementById(divId);
    targetColumn.style.display = "block"

}

</script>
<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn" onclick="switchButton(event, 'col-search')" id="text-search-button" value="text-search" autofocus="autofocus" style="width: 100%; font-size: 25px">Поиск по названию</button>
        </div>
        <div class="col">
            <button class="btn" onclick="switchButton(event, 'col-key')" value="key-search" style="width: 100%; font-size: 25px">Войти по ключу</button>
        </div>
    </div>
    <div class="row" style="padding: 20px" >
        <div class="col search" id="col-search" style="display: block">
            <form action="{{ url_for('themes.search') }}" method="get">
            <input type='text' class="form-control" name="substring" placeholder="Текст: ">
                <div class="row">
                    <button type="submit" class="btn btn-outline-primary">Найти</button>
                </div>

    </form>
        </div>
        <div class="col search" id="col-key" style="display: none">
            <form action="{{ url_for('themes.search_key') }}" method="post">
            <input type='text' class="form-control" name="key" placeholder="Ключ: ">
                <div class="row">
                    <button type="submit" class="btn btn-outline-primary ">Войти</button>
                </div>

            </form>
        </div>
    </div>

<div class="row" style="margin-top: 50px">
    <h5>Результаты поиска</h5>
</div>

<div class="row">
    {% if themes %}
        <ul>
        {% for theme in themes %}
            <li>
               <h4>{{ theme.title }}</h4>
                <div class="row">
                    <div class="col-lg-2">
                          <a href="{{ url_for('themes.theme_form_view_get', theme_id=theme.id) }}">
                            <button class="btn btn-outline-primary text">перейти</button>
                          </a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3 align="center" style="margin: 40px">Здесь появятся результаты поиска</h3>
    {% endif %}
</div>

</div>
{% endblock %}
