{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Поиск</h1>
</div>
<script style="{{ url_for('.static', filename='js/buttons.js') }}"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn" value="text-search" autofocus="autofocus" style="width: 100%; font-size: 25px">Поиск по названию</button>
        </div>
        <div class="col">
            <button class="btn" value="key-search" style="width: 100%; font-size: 25px">Войти по ключу</button>
        </div>
    </div>
    <div class="row" style="padding: 20px" >
        <div class="col search" id="text-search" style="display: block">
            <form action="{{ url_for('themes.search') }}" method="get">
            <input type='text' class="form-control" name="substring" placeholder="Текст: ">
            <button type="submit" class="btn-primary">Найти</button>
    </form>
        </div>
        <div class="col search" id="key-search" style="display: none">
            <form action="{{ url_for('themes.search_key') }}" method="post">
            <input type='text' class="form-control" name="key" placeholder="Ключ: ">
            <button type="submit" class="btn-primary">Найти</button>
            </form>
        </div>
    </div>


<div class="row">
    {% if themes %}
        <h5>Результаты поиска</h5>
        <ul>
        {% for theme in themes %}
            <li>
                <h6>{{ theme.title }}</h6>
                <a href="{{ url_for('theme_form_view_get', theme_id=theme.id) }}">перейти</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3 align="center" style="margin: 40px">Здесь появятся результаты поиска</h3>
    {% endif %}
</div>

</div>
{% endblock %}

{% block scripts %}
<script style="{{ url_for('.static', filename='js/buttons.js') }}"></script>

{% endblock %}
