{% extends "layout.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="jumbotron">
    <h1>{{ title }}</h1>
</div>
<script>function checkAnswer(event, question_id) {
    let answer_input, answer, cookies;
    answer_input = document.getElementById("answer" + toString(question_id + 1));
    answer = answer_input.textContent;
    cookies = document.cookie.split('; ')
    correct_answer = cookies[question_id]
    if (correct_answer === answer) {
        document.getElementById("answer" + toString(question_id + 1)).style.color = 'green';
    }
    else{
        document.getElementById("answer" + toString(question_id + 1)).style.color = 'red';
    }

}

function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active"

}

</script>

<div class="tab">
 {% for i in range(cards|length) %}
     {% if i == 0 %}
    <button class="tablinks active" id="tab{{ i + 1 }}" onclick="openCity(event, {{ i + 1 }})">Карточка №{{ i + 1 }}</button>
     {% else %}
     <button class="tablinks" id="tab{{ i + 1 }}" onclick="openCity(event, {{ i + 1 }})">Карточка №{{ i + 1 }}</button>
     {% endif %}
{% endfor %}
</div>

<div class="container">
    <form method="post" action="{{ url_for('themes.theme_form_view_post', theme_id=theme_id, title=title) }}">
    {% for i in range(cards|length) %}
        {% if i == 0 %}
            <div id="{{ i + 1 }}" class="tabcontent" style="display: block">
         {% else %}
            <div id="{{ i + 1 }}" class="tabcontent" style="display: none">
         {% endif %}
                <h4 style="text-align: center">{{ cards[i].ask_side }}</h4>
            {% if cards[i].image %}
              <img src="/static/media/images/{{ cards[i].image }}" width=50% style="">
             {% endif %}
                <input class='input' type="text" name='{{ i + 1 }}' id="answer{{ i + 1 }}" placeholder="Ответ:" style="align-self: center">
              {# <button id="button{{ i + 1 }}" onclick="checkAnswer(event, {{ i + 1 }})">Ответить</button>#}
            {% if i == cards|length - 1 %}
            <div class="answer">
            <button type="submit" class="answer_button">Ответить на тему</button>
            </div>
            {% endif %}
        </div>


        {% endfor %}


    </form>

</div>

{% endblock %}
