{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Создание карты</h1>
</div>

<div class="container">
    <button class='add-button' name="add_question" onclick="addQuestion(event)">+</button>
    <form action="{{ url_for('profiles.createTheme') }}" method="post">
    <div class="theme">
        <div>
            <input class="form-control inp" type="hidden" value="3" max="20" min="3" id="question_amount" name="question_amount">
        </div>
        <div>
            <label for="title">
                <input type='text' name="title" id="title" placeholder="Тема карточки">
            </label>
        </div>
        <div>
            <label for="isPublic">Публичная тема
                <input class="form-control inp"  type="checkbox" id='isPublic' name="isPublic" placeholder="Публичная тема">
            </label>
        </div>

        <label>
            <input class="form-control inp"  type="number" max=20 min=3 name="number" placeholder="Кол-во вопросов">
        </label>
    </div>

    <div class="questions">
        <h3>Вопросы</h3>
        <div class="question" id="question1">
            <label>
                <input type="text" placeholder="Вопрос 1:">
            </label>
            <label>
                <input type="text" placeholder="Ответ 1:">
            </label>
        </div>

        <div class="question" id="question2">
            <label>
                <input type="text" placeholder="Вопрос:">
            </label>
            <label>
                <input type="text" placeholder="Ответ:">
            </label>
        </div>

        <div class="question" id="question3">
            <label>
                <input type="text" placeholder="Вопрос:">
            </label>
            <label>
                <input type="text" placeholder="Ответ:">
            </label>
        </div>

    </div>

        <input type="submit">
    </form>

</div>

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{{ url_for('profiles.static', filename='css/style.css') }}">
    <script src="{{ url_for("profiles.static", filename="js/themes.js") }}"></script>
{% endblock %}