{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{ user.username }} - Темы</h1>
</div>

<div class="container">
    <h1>Все темы пользователя:</h1>
      {% if themes|length %}
    <ul>
   {% for theme in themes %}
        <li>

            <h4>{{ theme.title }}</h4>
            <a class="btn-link" style="color: white; background-color: slateblue; width: 200px" href="{{ url_for('themes.theme_form_view_get', theme_id=theme.id) }}">перейти</a>

        </li>
    {% endfor %}
    </ul>

    {% else %}
        <h5 align="center" style="font-style: italic">У пользователя нет тем.</h5>
    {% endif %}
</div>

{% endblock %}
