{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{ current_user.username }} - Темы</h1>
</div>

<div class="container">
    <h1>Все мои темы:</h1>

    {% if themes|length %}
        <ul>
       {% for theme in themes %}
            <li>
                <h4>{{ theme.title }}</h4>
                <div class="row">
                    <div class="col-lg-2">
                          <a href="{{ url_for('themes.theme_form_view_get', theme_id=theme.id) }}">
                               <button class="btn btn-outline-primary text">перейти</button>
                          </a>
                    </div>
                    <div class="col-lg-2">
                        <form method="post" action="{{ url_for('themes.delete_theme_view', theme_id=theme.id) }}">
                            <button type="submit" style="color: red" class="btn btn-outline-primary text">Удалить</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h5 align="center" style="font-style: italic">У вас нет тем.</h5>
    {% endif %}
</div>

{% endblock %}
