{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>{{ user.username }}</h1>
    <p align="center" style="font-style: italic; font-size: 24px">Привет, Maximum Education</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Создать тему</h2>
        <p><a class="btn btn-default" href="{{ url_for('themes.get_create_theme') }}">перейти &raquo;</a></p>
    </div>
     <div class="col-md-4">
        <h2>Мои темы</h2>
        <p class="custom-p">Созданные мной темы</p>
        <p><a class="btn btn-default" href="{{ url_for('profiles.get_profile_themes', username=current_user.username) }}">перейти &raquo;</a></p>
    </div>
</div>

{% endblock %}

{% block sripts %}
<link rel="stylesheet" href="{{ url_for('profiles.static', filename='css/style.css') }}">
{% endblock %}
